.register {
  width: 100%;
  height: 100%;
  padding-top: 90px;
  padding-bottom: 140px;
}

.register__form {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;
}

.header {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  padding: 40px 50px;
  font-size: 60px;
}

.content {
  width: 300px;
  text-align: left;
  margin: 0 auto;
  padding: 30px 40px;
}

.content input {
  margin-top: 5px;
  margin-bottom: 8px;
}

.errorMessage {
  font-size: 14px;
  color: rgb(255, 82, 82);
}

.registerBtn {
  width: 250px;
  height: 45px;
  margin-top: 40px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.registerBtn:hover {
  color: #ffffff;
  background-color: #3a3a3a;
}